p{
  color: #781C2E;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18;
}
h3{
  color: #781C2E;
}
h2{
  color: #781C2E;
}
.topnav{
  background-color: #781C2E;
  overflow: hidden;
  text-align: center;
  font-size: 30;
  border: 5px solid #FFD700;
  color: #FFD700;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
}
h1{
  text-align: center;
  font-size: 70;
  color: #781C2E;
}
.header h1{
  float: left;
}
.header img{
  float: left;
}
.header{
  overflow: auto;
}
body{
  background-color: #fffdd0;
}
ul{
  color:#781C2E;
}
.about p{
  text-align: left;
}
.donate{
  background-color: #781C2E;
  color: #FFD700;
  padding: 20px;
  border: 2px solid #FFD700;
  border-radius: 5px;
  width: 200px;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
}
.topnav:active:hover:visited{
  color: #FFD700;
}
.topnav a{
  color: #FFD700;
  padding: 20px;
}
div{
  resize: both;
  overflow: auto;
}
